body {
  margin: 0
}
.column {
  display: flex;
  position: absolute;
  top: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  height: 100vh;
  width: 450px;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}

.layerSelect {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  /* width: 50px; */
}
.layerSelect > input {
  height: 25px;
}

.chordBox {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  border: 2px solid SteelBlue;  
}

.selectedChordBox {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  border: 2px solid green; 
}

.sortPanel {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
}

.sortChoice {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.sortChoice > label {
  color: green;
}

.chordList {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  overflow-y: auto;
  // height: 100%;
  
}
// 
.selected {
  border-color: green;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80px;
  height: 100%;
}

/* .statsColumn > div {
  
} */

.label {
  color: white;
}

label {
  color: white;
}

.box {
  width: 70px;
}

.statNameBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  
}

.statNames {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 80px;
  /* height: 100%; */
}

.topPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
}

.classBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: blue;
  width: 100%
}

.classBox.selected {
  background-color: green;
}

.toggle {
  position: relative;
  height: 800px
}

.shellSizeSelection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  // align-content: bottom;
  // overflow: auto;
  height: 40px;
}

.shellSize {
  display: inline-block;
  // width: 25px;
}

.selectedShellSize {
  background-color: green;
  // width: 25px;
}

.shellSizeBox {
  display: flex;
  flex: 0 0 auto;
  overflow-x: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 100%;
}

.selectedShellSizeBox {
  display: flex;
  flex: 0 0 auto;
  overflow-x: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 100%;
  background-color: green;
}

.shellIndexBox {
  display: flex;
  flex: 0 0 auto;
  overflow-x: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 100%;
}

.selectedShellIndexBox {
  display: flex;
  flex: 0 0 auto;
  overflow-x: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 100%;
  background-color: green;
}
